*.gz
*.tar
*.elc

.emacs.desktop
.mc-lists.el
.org-id-locations

ac-comphist.dat

auto-save-list/
autosaves/
ecb/
elpa/
eshell/
tramp/
url/
vendor/w3m/

bookmarks
cedet-projects.el
emacs-custom.el
extras/nick-comms.el
extras/nick-dev.el
extras/nick-org.el
extras/nick-ui.el
extras/target
java-imports-index
nrepl-history
projectile-bookmarks.eld
request/
tramp
